<%
    @page_scope = 'sales_reps.show'
    @deactivated_module = defined?(SalesRep.new.deactivated_module)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @sales_rep, :sys_errors => @errors  } %>

<div class="fields_20_80">


    <div class="field">
      <span class="label"><%= I18n.translate('sales_reps.field_name.id') %></span>
      <span class="value" id="sales_rep_id"><%= @sales_rep.id %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('sales_reps.field_name.user') %></span>
      <span class="value" id="sales_rep_user"><%= @sales_rep.user.nil_to_s %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('sales_reps.field_name.min_markup_pct') %></span>
      <span class="value" id="sales_rep_min_markup_pct"><%= @sales_rep.min_markup_pct %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('sales_reps.field_name.max_markup_pct') %></span>
      <span class="value" id="sales_rep_max_markup_pct"><%= @sales_rep.max_markup_pct %></span>
    </div>

<% if (@deactivated_module) %>
     <div class="field">
       <span class="label"><%= I18n.translate('sales_reps.field_name.deactivated') %></span>
       <span class="value" id="sales_rep_deactivated"><%= I18n.is_deactivated_or_not(@sales_rep.deactivated?) %></span>
     </div>
<% end %>

    <div class="field">
      <span class="label"><%= I18n.translate('sales_reps.field_name.created_at') %></span>
      <span class="value" id="sales_rep_created_at"><%= @sales_rep.created_at %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('sales_reps.field_name.updated_at') %></span>
      <span class="value" id="sales_rep_updated_at"><%= @sales_rep.updated_at %></span>
    </div>

</div>


<% if can? :manage, @sales_rep %>
    <%= link_to I18n.translate('sales_reps.edit.action'), edit_sales_rep_path(@sales_rep.id) %>
    | <%= link_to I18n.translate('sales_reps.index.action'), sales_reps_path %>
    | <%= link_to I18n.translate('sales_reps.new.action'), new_sales_rep_path %>
<% end %>
