<%
  @page_scope = 'sessions.signin'
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for(:session, :url => sessions_path) do |f| %>

	<!-- render :partial => 'errors_form' -->

	<div class="fields_20_80">
	  <div class="field">
	    <%= f.label :username, I18n.translate('sessions.field_name.username') %>
	    <span class="value"><%= f.text_field :username %></span>
	  </div>
		<div class="field">
		  <%= f.label :password, I18n.translate('sessions.field_name.password') %>
		  <span class="value"><%= f.password_field :password %></span>
		</div>
	</div>

	<div class="actions">
		<%= f.submit I18n.translate('view_action.login') %>
	</div>
	
<% end %>
