<%
    @page_scope = 'components.show'
    @deactivated_module = defined?(Component.new.deactivated_module)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @component, :sys_errors => @errors  } %>

<div class="fields_20_80">


    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.id') %></span>
      <span class="value" id="component_id"><%= @component.id %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.component_type') %></span>
      <span class="value" id="component_component_type"><%= @component.component_type.nil_to_s %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.description') %></span>
      <span class="value" id="component_description"><%= @component.description %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.default') %></span>
      <span class="value" id="component_default"><%= @component.default.nil_to_s %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.calc_only') %></span>
      <span class="value" id="component_calc_only"><%= @component.calc_only %></span>
    </div>

<% if (@deactivated_module) %>
     <div class="field">
       <span class="label"><%= I18n.translate('components.field_name.deactivated') %></span>
       <span class="value" id="component_deactivated"><%= I18n.is_deactivated_or_not(@component.deactivated?) %></span>
     </div>
<% end %>

    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.created_at') %></span>
      <span class="value" id="component_created_at"><%= @component.created_at %></span>
    </div>

    <div class="field">
      <span class="label"><%= I18n.translate('components.field_name.updated_at') %></span>
      <span class="value" id="component_updated_at"><%= @component.updated_at %></span>
    </div>

</div>


<% if can? :manage, @component %>
    <%= link_to I18n.translate('components.edit.action'), edit_component_path(@component.id) %>
    | <%= link_to I18n.translate('components.index.action'), components_path %>
    | <%= link_to I18n.translate('components.list.action'), list_components_path %>
    | <%= link_to I18n.translate('components.new.action'), new_component_path %>
<% end %>
