    <%= tag :tr, options = {:id => "estimate_#{item.id}", :class => "#{cycle('odd', 'even')}"}, open = true %>
        
        <td id="<%= "estimate_#{item.id}_id" %>"><%= item.id %></td>
        
        <td id="<%= "estimate_#{item.id}_title" %>"><%= item.title %></td>
        
        <td id="<%= "estimate_#{item.id}_customer_name" %>"><%= item.customer_name %></td>
        
        <td id="<%= "estimate_#{item.id}_customer_note" %>"><%= item.customer_note %></td>
        
            <td id="<%= "estimate_#{item.id}_id" %>"><%= item.sales_rep.nil_to_s %></td>
        
            <td id="<%= "estimate_#{item.id}_id" %>"><%= item.job_type.nil_to_s %></td>
        
            <td id="<%= "estimate_#{item.id}_id" %>"><%= item.state.nil_to_s %></td>
        
        <td id="<%= "estimate_#{item.id}_prevailing_wage" %>"><%= item.prevailing_wage %></td>
        
        <td id="<%= "estimate_#{item.id}_note" %>"><%= item.note %></td>
                <% if @deactivated_module && show_deactivated? %>
           <td id="<%= "estimate_#{item.id}_deactivated" %>"><%= I18n.is_deactivated_or_not(item.deactivated?) %></td>
        <% end %>
       <td><%= link_to I18n.translate('view_action.view'), estimate_path(item.id) %></td>
       <td><%= link_to I18n.translate('view_action.edit'), edit_estimate_path(item.id) %></td>
        <% if @deactivated_module && can?(:deactivate, item) %>
            <% if item.deactivated? %>
                <td><%= link_to I18n.translate('view_action.reactivate'), reactivate_estimate_path(item.id), :method => :put, :confirm => I18n.translate('warning.sure_action_id?', :action => I18n.translate('view_action.reactivate'), :id => item.id) %></td>
                 <td><%= link_to I18n.translate('view_action.delete'), item, :method => :delete, :confirm => I18n.translate('warning.sure_action_id?', :action => I18n.translate('view_action.delete'), :id => item.id)  %></td>
            <% else %>
                 <td><%= link_to I18n.translate('view_action.deactivate'), deactivate_estimate_path(item.id), :method => :put, :confirm => I18n.translate('warning.sure_action_id?', :action => I18n.translate('view_action.deactivate'), :id => item.id) %></td>
            <% end # end if item.deactivated? %>
		<% else %>
				<td><%= link_to I18n.translate('view_action.delete'), item, :method => :delete, :confirm => I18n.translate('warning.sure_action_id?', :action => I18n.translate('view_action.delete'), :id => item.id)  %></td>
        <% end # end if @deactivated_module %>
