  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> Total Errors:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="fields_20_80">
  <div class="field">
    <%= f.label :first_name %>
    <span class="value"><%= f.text_field :first_name %></span>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <span class="value"><%= f.text_field :last_name %></span>
  </div>
  <div class="field">
    <%= f.label :email %>
    <span class="value"><%= f.text_field :email %></span>
  </div>
  <div class="field">
    <%= f.label :roles %>
    <span class="value"><%= f.text_field :roles %></span>
  </div>
  <div class="field">
    <%= f.label :username %>
    <span class="value"><%= f.text_field :username %></span>
  </div>
  <div class="field">
    <%= f.label :encrypted_password %>
    <span class="value"><%= f.text_field :encrypted_password %></span>
  </div>
  <div class="field">
    <%= f.label :password_salt %>
    <span class="value"><%= f.text_field :password_salt %></span>
  </div>
</div>