<div class="field">
  <span class="label"><%= I18n.translate('users.field_name.username') %></span>
  <span class="value" id="user_username"><%= @user.username %></span>
</div>
<div class="field">
  <span class="label"><%= I18n.translate('users.field_name.email') %></span>
  <span class="value" id="user_email"><%= @user.email %></span>
</div>
<div class="field">
  <span class="label"><%= I18n.translate('users.field_name.first_name') %></span>
  <span class="value" id="user_first_name"><%= @user.first_name %></span>
</div>
<div class="field">
  <span class="label"><%= I18n.translate('users.field_name.last_name') %></span>
  <span class="value" id="user_last_name"><%= @user.last_name %></span>
</div>
