<%
  @page_scope = 'users.edit_password'
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for(@user, :url => update_password_user_path(@user.id)) do |f| %>

    <%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @user, :sys_errors => @errors  } %>

    <div class="fields_20_80">
<%
		concat render :partial => 'info_form'       	
		if ADMIN_SET_USER_PASSWORD
			concat render :partial => 'password_form', :locals => { :f => f }
		else
			concat raw "<span class=error>System does not allow Administrator to Edit Passwords</span>"
		end
%>
    </div>

    <div class="actions">
        <%= f.submit I18n.translate('view_action.update_password') %>
    </div>
    
<% end %>

<%= link_to I18n.translate('users.show.action'), user_path(@user.id) %>
<% if can? :manage, User %>
 | <%= link_to I18n.translate('users.index.action'), users_path %>
 | <%= link_to I18n.translate('users.new.action'), new_user_path %>
<% end %>

