<%
  @page_scope = 'users.edit'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for [@user], :action => 'update', do |f| %>

	<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @user, :sys_errors => @errors  } %>

	<div class="fields_20_80">
		<%= render :partial => 'form', :locals => { :f => f } %>
	</div>

	<div class="actions">
		<%= f.submit I18n.translate('view_action.update') %>
	</div>
	
<% end %>

<%= link_to I18n.translate('users.show.action'), user_path(@user.id) %>
 | <%= link_to I18n.translate('users.index.action'), users_path if can? :manage, User %>
 | <%= link_to I18n.translate('users.new.action'), new_user_path if can? :manage, User %>
