<%
  @page_scope = 'users.edit'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for [@user], :action => 'update', do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'View', user_path(@user) %> |
<%= link_to 'List', users_path %>
