<%
  @page_scope = 'users.edit_password'
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %> <%= @user.username %> @ <%= @user.email %></h4>


<%= form_for [@user], :action => 'edit_password', do |f| %>
  <div class="field">
    <%= f.label :password %>
    <span class="value"><%= f.password_field :password %></span>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirmation' %>
    <span class="value"><%= f.password_field :password_confirmation %></span>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'List', users_path %>
