<%
  @page_scope = 'users.edit_password'
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %> <%=@session.current_user.username %> @ <%= @session.current_user.email %></h4>


<%= form_for [@session.current_user], :action => 'update_password', do |f| %>

	<%= render :partial => 'layouts/errors_form', :locals => { :f => f } %>

	<div class="fields_20_80">
		<%= render :partial => 'password_form', :locals => { :f => f } %>
	</div>

	<div class="actions">
		<%= f.submit I18n.translate('view_action.update_password') %>
	</div>
	
<% end %>

<%= link_to I18n.translate('users.index.title'), users_path %>

