<%
  @page_scope = 'users.edit'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for [@user], :action => 'update', do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="hidden"><input type="hidden" id="user_password" name="user_password" value="" /></div>
  <div class="hidden"><input type="hidden" id="user_password_confirmation" name="user_password_confirmation" value="" /></div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'View', user_path(@user) %>
 | <%= link_to 'List', users_path %>
 | <%= link_to 'New User', new_user_path %>
