<%
  @page_scope = 'users.index'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<table cellspacing="0">
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Username</th>
    <th>Deactivated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
<%= tag :tr, options = {:id => "user_#{user.id}", :class => "#{cycle('odd', 'even')}"}, open = true %>
    <td class="user_id"><%= user.id %></td>
    <td class="user_first_name"><%= user.first_name %></td>
    <td class="user_last_name"><%= user.last_name %></td>
    <td class="user_email"><%= user.email %></td>
    <td class="user_roles"><%= user.roles %></td>
    <td class="user_username"><%= user.username %></td>
    <td class="user_deactivated"><%= I18n.is_true_or_false(user.deactivated) %></td>
    <td><%= link_to 'View', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
		<% if user.deactivated == true %>
		 	<td><%= link_to 'Reactivate', user, :confirm => 'Are you sure?', :method => :reactivate %></td>
		 	<td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
		<% else %>
		 	<td><%= link_to 'Deactivate', user, :confirm => 'Are you sure?', :method => :deactivate %></td>
		<% end %>
  </tr>
<% end %>
</table>

<%= link_to 'New User', new_user_path %>
