<%
  @page_scope = 'users.reset_password'
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for [@user], :action => 'reset_password', do |f| %>

	<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @user, :sys_errors => @errors  } %>

	<div class="fields_20_80">
	  <div class="field">
	    <%= f.label :username, I18n.translate('users.field_name.username'), :class => 'label' %>
	    <span class="value"><%= f.text_field :username %></span>
	  </div>
	  <div class="field">
	    <%= f.label :email, I18n.translate('users.field_name.email'), :class => 'label' %>
	    <span class="value"><%= f.text_field :email %></span>
	  </div>
	</div>

	<div class="actions">
		<%= f.submit I18n.translate('users.reset_password.action') %>
	</div>
	
<% end %>

<%= (link_to I18n.translate('users.show.action'), user_path(@user.id)) if @user && @user.id %>
<% if can? :manage, User %>
 | <%= link_to I18n.translate('users.index.action'), users_path %>
 | <%= link_to I18n.translate('users.new.action'), new_user_path %>
<% end %>

