<%
  @page_scope = 'users.show'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error")%> total errors: </h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<p id="notice"><%= notice %></p>

<div class="fields_20_80">
  <div class="field">
    <span class="label">Username</span>
    <span class="value" id="user_username"><%= @user.username %></span>
  </div>
  <div class="field">
    <span class="label">Email</span>
    <span class="value" id="user_email"><%= @user.email %></span>
  </div>
  <div class="field">
    <span class="label">First Name</span>
    <span class="value" id="user_first_name"><%= @user.first_name %></span>
  </div>
  <div class="field">
    <span class="label">Last name</span>
    <span class="value" id="user_last_name"><%= @user.last_name %></span>
  </div>
  <div class="field">
    <span class="label">Roles</span>
    <span class="value" id="user_roles"><%= @user.roles %></span>
  </div>
  <div class="field">
    <span class="label">Deactivated</span>
    <span class="value" id="user_deactivated"><%= I18n.is_true_or_false(@user.deactivated) %></span>
  </div>
</div>


<%= link_to 'Edit', edit_user_path(@user) %>
 | <%= link_to 'List', users_path %>
 | <%= link_to 'New User', new_user_path %>
