    <%= tag :tr, options = {:id => "state_#{item.id}", :class => "#{cycle('odd', 'even')}"}, open = true %>
        
        <td id="<%= "state_#{item.id}_id" %>"><%= item.id %></td>
        
        <td id="<%= "state_#{item.id}_code" %>"><%= item.code %></td>
        
        <td id="<%= "state_#{item.id}_name" %>"><%= item.name %></td>
       <td><%= link_to I18n.translate('view_action.view'), state_path(item.id) %></td>
       <td><%= link_to I18n.translate('view_action.edit'), edit_state_path(item.id) %></td>
				<td><%= link_to I18n.translate('view_action.delete'), item, :method => :delete, :confirm => I18n.translate('warning.sure_action_id?', :action => I18n.translate('view_action.delete'), :id => item.id)  %></td>
