  <div class="field">
    <%= f.label :store, I18n.translate('defaults.field_name.store'), :class => 'label' %>
    <span class="value"><%= f.text_field :store %></span>
  </div>
  <div class="field">
    <%= f.label :name, I18n.translate('defaults.field_name.name'), :class => 'label' %>
    <span class="value"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <%= f.label :value, I18n.translate('defaults.field_name.value'), :class => 'label' %>
    <span class="value"><%= f.text_field :value %></span>
  </div>

	<% if @deactivated_module && can?(:deactivate, @default) %>
	 	<div class="field">
	  	<%= f.label :deactivated, I18n.translate('defaults.field_name.deactivated'), :class => 'label' %>
	    <span class="value">
				<%= f.radio_button :deactivated, true %>
				<%= f.label "deactivated_true", "true", :class => 'span_after_label' %>
				<%= f.radio_button :deactivated, false %>
				<%= f.label "deactivated_false", "false", :class => 'span_after_label' %>
			</span>
		</div>
	<% end %>
