  <div class="field">
    <%= f.label :store, I18n.translate('defaults.field_name.store'), :class => 'label' %>
    <span class="value"><%= f.text_field :store %></span>
  </div>
  <div class="field">
    <%= f.label :name, I18n.translate('defaults.field_name.name'), :class => 'label' %>
    <span class="value"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <%= f.label :value, I18n.translate('defaults.field_name.value'), :class => 'label' %>
    <span class="value"><%= f.text_field :value %></span>
  </div>

	<% if (defined? @default.deactivated_module) && can?(:deactivate, @default) %>
	 	<div class="field">
	   <%= f.label :deactivated, I18n.translate('defaults.field_name.deactivated'), :class => 'label' %>
	   <span class="value"><%= select( "default", "deactivated", [ [I18n.is_deactivated_or_not(true), true], [I18n.is_deactivated_or_not(false), false] ], {:selected => @default.deactivated?} ) %></span>
		</div>
	<% end %>
