<%
  @page_scope = 'defaults.edit'
	@deactivated_module = defined?(Default.new.deactivated_module)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for(@default, :action => 'update') do |f| %>

	<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @default, :sys_errors => @errors  } %>

	<div class="fields_20_80">
		<%= render :partial => 'form', :locals => { :f => f } %>
	</div>

	<div class="actions">
		<%= f.submit I18n.translate('view_action.update') %>
	</div>
	
<% end %>

<%= link_to I18n.translate('defaults.show.action'), default_path(@default.id) %>
<% if can? :manage, @default %>
 | <%= link_to I18n.translate('defaults.index.action'), defaults_path %>
 | <%= link_to I18n.translate('defaults.new.action'), new_default_path %>
<% end %>
