<%
  @page_scope = 'defaults.index'
	@deactivated_module = defined?(ComponentType.new.deactivated_module)
%>

<div><%= I18n.translate('header', :scope => @page_scope) %></div>

<table cellspacing="0">
  <tr>
    <th><%= I18n.translate('defaults.field_name_short.id') %></th>
    <th><%= I18n.translate('defaults.field_name_short.store') %></th>
    <th><%= I18n.translate('defaults.field_name_short.name') %></th>
    <th><%= I18n.translate('defaults.field_name_short.value') %></th>
		<% if (@deactivated_module) %>
			<% if show_deactivated? %>
		    <th><%= I18n.translate('defaults.field_name_short.deactivated') %></th>
		    <th colspan="4"><%= link_to I18n.translate('view_action.hide_deactivated'), defaults_path('show_deactivated' => DB_FALSE.to_s) %></th>
			<% else %>
	    	<th colspan="3"><%= link_to I18n.translate('view_action.show_deactivated'), defaults_path('show_deactivated' => DB_TRUE.to_s) %></th>
			<% end %>
		<% else %>
  		<th colspan="2">&nbsp;</th>
		<% end %>
  </tr>

<%
	@defaults.each do |item|
		# only show deactivated item if deactivated module installed, and show deactivated is set.
		( @deactivated_module && !show_deactivated? && item.deactivated? ) ? show_row = false : show_row = true
		if show_row
%>
		<%= tag :tr, options = {:id => "default_#{item.id}", :class => "#{cycle('odd', 'even')}"}, open = true %>
	    <td id="<%= "default_#{item.id}_id" %>"><%= item.id %></td>
	    <td id="<%= "default_#{item.id}_store" %>"><%= item.store %></td>
	    <td id="<%= "default_#{item.id}_name" %>"><%= item.name %></td>
	    <td id="<%= "default_#{item.id}_value" %>"><%= item.value %></td>
			<% if @deactivated_module && show_deactivated? %>
	    	<td id="<%= "default_#{item.id}_deactivated" %>"><%= I18n.is_deactivated_or_not(item.deactivated?) %></td>
			<% end %>
	    <td><%= link_to I18n.translate('view_action.view'), item %></td>
	    <td><%= link_to I18n.translate('view_action.edit'), edit_default_path(item) %></td>
			<% if @deactivated_module && can?(:deactivate, item) %>
				<% if item.deactivated? %>
				 	<td><%= link_to I18n.translate('view_action.reactivate'), reactivate_default_path(item.id), :method => :put, :confirm => I18n.translate('warning.sure_action_name?', :action => I18n.translate('view_action.reactivate'), :name => item.name+"?") %></td>
				 	<td><%= link_to I18n.translate('view_action.delete'), item, :confirm => I18n.translate('warning.sure_action_name?', :action => I18n.translate('view_action.delete'), :name => item.name+"?"), :method => :delete  %></td>
				<% else %>
				 	<td><%= link_to I18n.translate('view_action.deactivate'), deactivate_default_path(item.id), :method => :put, :confirm => I18n.translate('warning.sure_action_name?', :action => I18n.translate('view_action.deactivate'), :name => item.name+"?") %></td>
				<% end %>
			<% end %>
	  </tr>
<%
	end
end
%>
</table>

<%= link_to I18n.translate('defaults.new.action'), new_default_path %>
