
<%
# assume already in Estimate form tag
comp_type_totals = Hash.new()
@assemblies.each do |ass|
	ea = (@estimate_assemblies[ass.id]) ? true : false
	ea_checked = ea || ass.required
	ea_total = BigDecimal.new('0',2)
	if ea_checked
		ass_deact = (ass.deactivated) ? ' * ' : ''
%>
		<div id="assembly_<%= ass.id %>" class="show_hide<%= (ea_checked) ? '' : ' deselected' %>"><h3><%= ass_deact + ass.description + ass_deact %></h3>
			<div>
<% 
		last_component_type = 0
		comp_type_total = BigDecimal.new('0',2)
		AssemblyComponent.for_assembly(ass.id).each do |ass_comp|
			# break by Component Type
			if last_component_type != ass_comp.component.component_type_id
				if last_component_type != 0
%>
				<div class="field component_type_total">
					<%= label_tag '', 'Total '+@component_types[last_component_type].description, :class => 'label' %>
					<span class="value"><%= sprintf('%.2f',comp_type_total) %></span>
				</div>
<%
					comp_type_total = comp_type_total + comp_type_totals[last_component_type] if comp_type_totals[last_component_type]
					comp_type_totals[last_component_type] = BigDecimal.new(sprintf('%.2f',comp_type_total),2)
				end
%>
				<h4 class="margin_left_20">
					<%= ass_comp.component.component_type.nil_to_s %>
				</h4>
<% 
				last_component_type = ass_comp.component.component_type_id
				comp_type_total = BigDecimal.new('0',2)
			end # end break by Component Type
			# Rails.logger.debug("VVVV AssemblyComponent = #{ass_comp.inspect.to_s}")
			
			est_comp = EstimateComponent.for_estimate_assembly_component(@estimate.id, ass.id, ass_comp.component.id )
			if est_comp.nil?
%>
				<div class="field">
					<%= label_tag "estimate_components[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", ass_comp.nil_to_s, :class => 'label' %>
					<span class="value">
					</span>
				</div>
<%
			else
				# Rails.logger.debug("VVVV est_comp = #{est_comp.inspect.to_s}")
				comp_type_total += BigDecimal.new(sprintf('%.2f',est_comp.value),2)
				ea_total += BigDecimal.new(sprintf('%.2f',est_comp.value),2)
%>
			<div class="field">
				<%= label_tag "estimate_components_[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", ass_comp.nil_to_s, :class => 'label' %>
				<span class="value" id="estimate_components_<%= ass.id.to_s %>_<%= ass_comp.component.id.to_s %>">
				<%= sprintf('%.2f',est_comp.value) if (est_comp) %>
				</span>
			</div>
<%
						end
						# Rails.logger.debug("VVVV Estimate Component value = #{est_comp.inspect.to_s}")
	   	end # AssemblyComponent.for_assembly(ass.id).each
		%>
				</div>
				<div class='assembly_total'>Total <%= ass_deact + ass.description + ass_deact %> = <%= sprintf('%.2f',ea_total) %></div>
			</div> <!-- end of div id="assembly_<%= ass.id %>" -->
		<% 
	end # ea_checked
end # if table.each
# comp_type_totals.each do |key, val|
# 	Rails.logger.debug("VVVVV comp_type_total[#{key}] (#{@component_types[key].description}) = #{sprintf('%.2f',val)}")
# end
%>

