				<tr class="grid_row">
					<td class="grid_row_label">
						<%= label_tag total_id, total_label, :class => 'label' %>
					</td>
<%
row_total = BIG_DECIMAL_ZERO
warn_hours = defined?(warn_unconverted_hours) ?  warn_unconverted_hours : false
@component_types_list.each do |ct|
    err_str = ''
    err_style = ''
    # Show it if component type is flagged to show in the component grid
    #    or (!in_totals_grid (generate general subtotals) && !ct.has_totals (not a grid component type) )
	if ct.in_totals_grid || (!in_totals_grid && !ct.has_totals)
	    ct_value = total_values[ct.id].nil? ? BIG_DECIMAL_ZERO : total_values[ct.id]
	    if !is_in_dollars[ct.id].nil? && is_in_dollars[ct.id] == true
	        row_total += ct_value
    	elsif warn_hours && ct.has_hours && ct_value != BIG_DECIMAL_ZERO   # and is_in_dollars is false
    	    err_str = I18n.translate('warning.hrs_unconverted', :hrs => ct_value.bd_to_s(2)) # " ( * #{ct_value.bd_to_s(2)} Unconverted Hours)"
    	    err_style = " warning"
    	end
%>
					<td class="grid_row_calc grid_row_sub_total<%= err_style %>" id="<%= total_id %>_<%= ct.id.to_s %>"><%= ct_value.bd_to_s(2) %><%= err_str %></td>
<%
	end
end
%>
					<td class="grid_row_calc grid_row_sub_total" id="<%= total_id %>_total"><%= row_total.bd_to_s(2) %></td>
				</tr>
