

<div class="field">
  	<%= f.label :id, I18n.translate('assembly_components.field_name.id'), :class => 'label' %>
	<span class="value" id="assembly_component_id"><%= @assembly_component.id %></span>
</div>



<div class="field">
	<%= f.label :assembly, I18n.translate('assembly_components.field_name.assembly'), :class => 'label' %>
	<span class="value">
		<%= collection_select( :assembly_component, :assembly_id, AssembliesController.list, :id, :desc, { :include_blank => true }) %>
	</span>
</div>



<div class="field">
	<%= f.label :component, I18n.translate('assembly_components.field_name.component'), :class => 'label' %>
	<span class="value">
		<%= collection_select( :assembly_component, :component_id, ComponentsController.list, :id, :desc, { :include_blank => true }) %>
	</span>
</div>


<div class="field">
	<%= f.label :description, I18n.translate('assembly_components.field_name.description'), :class => 'label' %>
    <span class="value"><%= f.text_field :description %></span>
</div>


<div class="field">
  	<%= f.label :required, I18n.translate('assembly_components.field_name.required'), :class => 'label' %>
	<span class="value">
		<%= f.radio_button :required, true %>
		<%= f.label "required_true", "true", :class => 'span_after_label' %>
		<%= f.radio_button :required, false %>
		<%= f.label "required_false", "false", :class => 'span_after_label' %>
	</span>
</div>


<div class="field">
  	<%= f.label :deactivated, I18n.translate('assembly_components.field_name.deactivated'), :class => 'label' %>
	<span class="value">
		<%= f.radio_button :deactivated, true %>
		<%= f.label "deactivated_true", "true", :class => 'span_after_label' %>
		<%= f.radio_button :deactivated, false %>
		<%= f.label "deactivated_false", "false", :class => 'span_after_label' %>
	</span>
</div>


<div class="field">
	<%= f.label :created_at, I18n.translate('assembly_components.field_name.created_at'), :class => 'label' %>
	<span class="value" id="assembly_component_created_at"><%= @assembly_component.created_at %></span>
</div>


<div class="field">
	<%= f.label :updated_at, I18n.translate('assembly_components.field_name.updated_at'), :class => 'label' %>
	<span class="value" id="assembly_component_updated_at"><%= @assembly_component.updated_at %></span>
</div>

