<table cellspacing="0">
<%%= render :partial => '<%= plural_table_name %>/index_head' %>
<%%
@<%= plural_table_name %>.each do |item|
		# only show deactivated item if deactivated module installed, and show deactivated is set.
		( @deactivated_module && !show_deactivated? && item.deactivated? ) ? show_row = false : show_row = true
	if show_row
%>
	<%%= render :partial => '<%= plural_table_name %>/index_row', :locals => { :item => item } %>
<%% end # if show_row
end # if table.each %>

</table>

<br />

<%%= link_to 'New <%= class_name %>', new_<%= singular_table_name %>_path %>
