<%%
    @page_scope = '<%= plural_table_name %>.new'
    @deactivated_module = defined?(<%= class_name %>.new.deactivated_module)
%>

<h4><%%= I18n.translate('header', :scope => @page_scope) %></h4>

<%%= form_for(@<%= singular_table_name %>, :action => 'create') do |f| %>

    <%%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @<%= singular_table_name %>, :sys_errors => @errors  } %>

    <div class="fields_20_80">
        <%%= render :partial => '<%= plural_table_name %>/form', :locals => { :f => f } %>
    </div>

    <div class="actions">
        <%%= f.submit I18n.translate('view_action.create') %>
    </div>
    
<%% end %>

<%%= link_to I18n.translate('<%= plural_table_name %>.index.action'), <%= plural_table_name %>_path if can? :manage, @<%= singular_table_name %> %>
