<%
	@page_scope = 'assemblies.edit'
	@deactivated_module = defined?(Assembly.new.deactivated_module)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= form_for(@assembly, :action => 'update') do |f| %>

	<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @assembly, :sys_errors => @errors  } %>

	<div class="fields_20_80">
		<%= render :partial => 'form', :locals => { :f => f } %>
	</div>

	<div class="actions">
		<%= f.submit I18n.translate('view_action.update') %>
	</div>
	
<% end %>

<%= link_to I18n.translate('assemblies.show.action'), assembly_path(@assembly.id) %>
<% if can? :manage, @assembly %>
	| <%= link_to I18n.translate('assemblies.index.action'), assemblies_path %>
	| <%= link_to I18n.translate('assemblies.list.action'), list_assemblies_path %>
	| <%= link_to I18n.translate('assemblies.new.action'), new_assembly_path %>
<% end %>
