<%
	@page_scope = 'assemblies.show'
	@deactivated_module = defined?(Assembly.new.deactivated_module)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= render :partial => 'layouts/errors_form', :locals => { :active_obj => @assembly, :sys_errors => @errors  } %>

<div class="fields_20_80">


	<div class="field">
	  <span class="label"><%= I18n.translate('assemblies.field_name.id') %></span>
	  <span class="value" id="assembly_id"><%= @assembly.id %></span>
	</div>

	<div class="field">
	  <span class="label"><%= I18n.translate('assemblies.field_name.description') %></span>
	  <span class="value" id="assembly_description"><%= @assembly.description %></span>
	</div>

	<div class="field">
	  <span class="label"><%= I18n.translate('assemblies.field_name.sort_order') %></span>
	  <span class="value" id="assembly_sort_order"><%= @assembly.sort_order %></span>
	</div>

	<div class="field">
	  <span class="label"><%= I18n.translate('assemblies.field_name.required') %></span>
	  <span class="value" id="assembly_required"><%= @assembly.required %></span>
	</div>

<% if (@deactivated_module) %>
	 <div class="field">
	   <span class="label"><%= I18n.translate('assemblies.field_name.deactivated') %></span>
	   <span class="value" id="assembly_deactivated"><%= I18n.is_deactivated_or_not(@assembly.deactivated?) %></span>
	 </div>
<% end %>

	<div class="field">
	  <span class="label"><%= I18n.translate('assemblies.field_name.created_at') %></span>
	  <span class="value" id="assembly_created_at"><%= @assembly.created_at %></span>
	</div>

	<div class="field">
	  <span class="label"><%= I18n.translate('assemblies.field_name.updated_at') %></span>
	  <span class="value" id="assembly_updated_at"><%= @assembly.updated_at %></span>
	</div>

</div>


<% if can? :manage, @assembly %>
	<%= link_to I18n.translate('assemblies.edit.action'), edit_assembly_path(@assembly.id) %>
	| <%= link_to I18n.translate('assemblies.index.action'), assemblies_path %>
	| <%= link_to I18n.translate('assemblies.list.action'), list_assemblies_path %>
	| <%= link_to I18n.translate('assemblies.new.action'), new_assembly_path %>
<% end %>
