<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.translate('config.company_name') %> - <%= I18n.translate('config.app_name') %> - <%= I18n.translate('.title', :scope => @page_scope) %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="body_content">
  
    <div id="header">
      <div id="header_logo_bar">
        <div id="header_logo_left">
          <div id="header_logo">
            <%= link_to image_tag("../../images/header/header_logo.png", :alt => "Home"), root_path %>
          </div>
          <div id="header_tagline">
            <!-- h2 id="header_tagline_company_name" class="nowrap"><%= I18n.translate('config.company_name') %></h2 -->
            <h2 id="header_tagline_app_name" class="nowrap"><%= I18n.translate('config.app_name') %></h2>
            <h3 id="header_tagline_system_header"><%= I18n.translate('systems.'+cur_system+'.full_name') %></h3>
            <h4 id="header_tagline_page_header"><%= I18n.translate('.header', :scope => @page_scope) %></h4>
          </div>
        </div><!-- end header_logo_left -->
        <div id="header_logo_right">
          <div class="fields_40_60 thin_border padding_5">
            <div class="field">
              <span class="label"><%= I18n.translate('view_labels.company_name') %></span>
              <span class="value"><%= I18n.translate('config.company_name') %></span>
            </div>
            <div class="field">
              <span class="label"><%= I18n.translate('view_labels.email') %></span>
              <span class="value"><%= mail_to I18n.translate('config.company_email'), I18n.translate('config.company_email') %></span>
            </div>
          </div>
        </div><!-- end header_logo_right -->
      </div><!-- end header_logo_bar -->
      <div id="header_bottom_bar">
        <ul id="header_nav_bar">
          <li class="_6_across"><%= link_to I18n.translate('home.index.title'), home_index_path %></li>
					<% if can? :manage, User %>
          	<li class="_6_across"><%= link_to I18n.translate('users.title'), users_path %></li>
					<% elsif @user_session.signed_in? %>
          	<li class="_6_across"><%= link_to I18n.translate('users.show.title'), user_path(cur_user_id) %></li>
					<% else %>
	          <li class="_6_across"><%= link_to I18n.translate('users_sessions.signin.action'), signin_path  %></li>
					<% end %>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to I18n.translate('home.help.title'), home_help_path %></li>
        </ul><!-- end header_nav_bar -->
      </div><!-- end header_bottom_bar -->
      <div id="header_status">
				<noscript class="script_notice">Javascript it turned off!  Some features of this site are not be available!</noscript>
        <p class="notice"><%= notice %></span>
        <p class="alert"><%= alert %></span>
      </div>
    </div><!-- end header -->
    
    <div id="middle_content">
      <div id="left_content"><!-- left_content -->

        <div class="block_module">
          <div class="module_header">
						<% if @user_session.signed_in? %>
							<%= I18n.translate('view_labels.welcome_user', :user => @user_session.current_user_full_name) %>
							<br/>
							<%= link_to content_tag(:span, I18n.translate('users_sessions.signout.action')), signout_path  %>
					  <% else %>
							<%= link_to content_tag(:span, I18n.translate('users_sessions.signin.action')), signin_path  %>
						<% end %>
          </div>
         <ul class="module_body column_nav">
						<% APPLICATION_SYSTEMS.each do |sys_name, system| %>
							<%  	if cur_user.can_see_system?(system[:id].to_s) %>
								<li id="lnav_<%= system[:id].to_s %>" class="list_column on"><%= content_tag(:span, I18n.translate("systems.#{system[:id].to_s}.full_name")) %>
									<% if system[:menu_items].size > 0 %>
		              	<ul class="column_nav">
										<% system[:menu_items].each do |menu_key, menu_val|
											# if can? :read , menu_val[:class_name].to_s.constantize
											if can? menu_val[:action].to_sym , menu_val[:class_name].to_s.constantize
										%>
		                	<li id="lnav_<%= system[:id].to_s %>_<%= menu_val[:class_name].to_s %>_<%= menu_val[:action].to_s %>" class="list_column off"><%= link_to content_tag(:span, I18n.translate("#{menu_key.to_s}.title") ), menu_val[:start_uri] %></li>
											<% end # end  can? :read , resource.to_s
											end # end system[:resources].each %>
                  	</ul>
									<% end # end if system[:resources].size > 0 %>
								</li>
							<% end # if cur_user.can_see_system? %>
						<% end # APPLICATION_SYSTEMS.each %>
            <li class="list_column off"><%= link_to content_tag(:span, I18n.translate('home.help.title')), home_help_path %></li>
          </ul>
        </div><!-- end block_module -->

      </div><!-- end left_content -->

      <div id="center_content">

        <div id="content_header">
        </div><!-- end content_header -->

        <div id="content_body"><%= yield %></div>

        <div id="content_footer"></div><!-- end content_footer -->
  
     </div><!-- end center_content -->
      
    </div><!-- end middle -->
    
    <div id="footer">
      <div id="footer_status">
        <p class="notice"><%= notice %></span>
        <p class="alert"><%= alert %></span>
      </div>
      <div id="footer_content">
        <div id="footer_nav_bar">
          <ul>
            <li class="_across"><%= link_to I18n.translate('home.about.title'), home_about_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.contact.title'), home_contact_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.news.title'), home_news_path %></li>
						<% if @user_session.signed_in? %>
							<li class="_across"><%= link_to I18n.translate('home.site_map.title'), home_site_map_path %></li>
						<% end %>
            <li class="_across"><%= link_to I18n.translate('home.status.title'), home_status_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.help.title'), home_help_path %></li>
          </ul>
        </div><!-- end footer_nav_bar -->
      </div><!-- end footer_content -->
    </div><!-- end footer -->
    
  </div><!-- end page -->

	<div><%= debug(params) if Rails.env.development? %></div>
	<div><%= session.inspect if Rails.env.development? && !session.nil? %></div>

</body>
</html>
