<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.translate('company_name') %> - <%= I18n.translate('app_name') %> - <%= I18n.translate('.title', :scope => @page_scope) %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="body_content">
  
    <div id="header">
      <div id="header_logo_bar">
        <div id="header_logo_left">
          <div id="header_logo">
            <%= link_to image_tag("../../images/header/header_logo.png", :alt => "Home"), root_path %>
          </div>
          <div id="header_tagline">
            <h2 id="header_tagline_company_name" class="nowrap"><%= I18n.translate('company_name') %></h2>
            <h2 id="header_tagline_app_name" class="nowrap"><%= I18n.translate('app_name') %></h2>
            <h3 id="header_tagline_page_title"><%= I18n.translate('.title', :scope => @page_scope) %></h3>
          </div>
        </div><!-- end header_logo_left -->
        <div id="header_logo_right" class="width_200">
          <div class="fields_25_75 thin_border padding_5">
            <div class="field">
              <span class="label">Phone</span>
              <span class="value"></span>
            </div>
            <div class="field">
              <span class="label">eMail:</span>
              <span class="value"><%= mail_to 'tayloredwebsites@me.com', 'Taylored Web Sites' %></span>
            </div>
          </div>
        </div><!-- end header_logo_right -->
      </div><!-- end header_logo_bar -->
      <div id="header_bottom_bar">
        <ul id="header_nav_bar">
          <li class="_6_across"><%= link_to I18n.translate('users.title'), users_path %></li>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to 'Item', '#' %></li>
          <li class="_6_across"><%= link_to I18n.translate('home.help.title'), home_help_path %></li>
        </ul><!-- end header_nav_bar -->
      </div><!-- end header_bottom_bar -->
      <div id="header_status">
        <p class="notice"><%= notice %></span>
        <p class="alert"><%= alert %></span>
      </div>
    </div><!-- end header -->
    
    <div id="middle_content">
      <div id="left_content"><!-- left_content -->

        <div class="block_module">
          <% if true %>
            <div class="module_header">Welcome</div>
          <% end %>
          <ul class="module_body column_nav">
            <li class="list_column off"><%= link_to I18n.translate('users.title'), users_path %></li>
            <li class="list_column on"><%= link_to 'Item', '#' %>
              <ul class="column_nav">
                <li class="list_column off"><%= link_to 'Sub Item', '#' %></li>
                <li class="list_column off"><%= link_to 'Sub Item', '#' %></li>
                <li class="list_column on"><%= link_to 'Sub Item', '#' %>
                  <ul class="column_nav">
                    <li class="list_column off"><%= link_to 'Sub Sub Item', '#' %></li>
                    <li class="list_column on"><%= link_to 'Sub Sub Item', '#' %></li>
                    <li class="list_column off"><%= link_to 'Sub Sub Item', '#' %></li>
                  </ul>
                </li>
                <li class="list_column off"><%= link_to 'Sub Item', '#' %></li>
              </ul>
            </li>
            <li class="list_column off"><%= link_to 'Item', '#' %></li>
            <li class="list_column off"><%= link_to 'Item', '#' %></li>
            <li class="list_column off"><%= link_to I18n.translate('home.help.title'), home_help_path %></li>
          </ul>
        </div><!-- end block_module -->

      </div><!-- end left_content -->

      <div id="center_content">

        <div id="content_header">
        </div><!-- end content_header -->

        <div id="content_body"><%= yield %></div>

        <div id="content_footer"></div><!-- end content_footer -->
  
     </div><!-- end center_content -->
      
    </div><!-- end middle -->
    
    <div id="footer">
      <div id="footer_status">
        <p class="notice"><%= notice %></span>
        <p class="alert"><%= alert %></span>
      </div>
      <div id="footer_content">
        <div id="footer_nav_bar">
          <ul>
            <li class="_across"><%= link_to I18n.translate('home.about.title'), home_about_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.contact.title'), home_contact_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.news.title'), home_news_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.site_map.title'), home_site_map_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.status.title'), home_status_path %></li>
            <li class="_across"><%= link_to I18n.translate('home.help.title'), home_help_path %></li>
          </ul>
        </div><!-- end footer_nav_bar -->
      </div><!-- end footer_content -->
    </div><!-- end footer -->
    
  </div><!-- end page -->
</body>
</html>
