<!DOCTYPE html>
<html>
<head>
	<% pageScope = [:home, :index] %>
  <title><%= APP_CONFIG["COMPANY_NAME"] %> - <%= APP_CONFIG['APP_NAME'] %> - <%= I18n.translate('.title', :scope => pageScope) %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="body_content">
  
    <div id="header">
        <div id="header_logo_bar">
          <div id="header_logo_left">
            <div id="header_logo"><a href="/"><img src="../../images/header/header_logo.png" alt="home page"></a></div>
            <div id="header_tagline">
              <h2 id="header_tagline_company_name" class="nowrap"><%= APP_CONFIG['COMPANY_NAME'] %></h2>
              <h2 id="header_tagline_app_name" class="nowrap"><%= APP_CONFIG['APP_NAME'] %></h2>
      	      <h3 id="header_tagline_page_title"><%= I18n.translate('.title', :scope => pageScope) %></h3>
            </div>
          </div><!-- end header_logo_left -->
          <div id="header_logo_right" class="width_150">
          	<div class="thin_border">
              <div class="list_column">Phone</div>
              <div class="list_column">eMail: <a href="mailto:tayloredwebsites@me.com">Taylored Web Sites</a></div>
            </div>
          </div><!-- end header_logo_right -->
        </div><!-- end header_logo_bar -->
        <div id="header_bottom_bar">
          <ul id="header_nav_bar">
            <li class="_6_across"><a href="#"><span>Nav Item</span></a></li>
            <li class="_6_across"><a href="#"><span>Nav Item</span></a></li>
            <li class="_6_across"><a href="#"><span>Nav Item</span></a></li>
            <li class="_6_across"><a href="#"><span>Nav Item</span></a></li>
            <li class="_6_across"><a href="#"><span>Nav Item</span></a></li>
            <li class="_6_across"><a href="/home/help""><span>Help</span></a></li>
          </ul>
        </div><!-- end header_nav_bar -->
    </div><!-- end header -->
    
    <div id="middle_content">
      <div id="left_content"><!-- left_content -->

        <div class="block_module">
          <% if true %>
            <div class="module_header">Welcome</div>
          <% end %>
          <ul class="module_body left_nav">
            <li class="list_column"><a href="#"><span>Nav Item</span></a></li>
            <li class="list_column"><a href="#"><span>Nav Item</span></a>
              <ul class="left_nav">
                <li class="list_column"><a href="#"><span>Sub Nav Item</span></a></li>
                <li class="list_column"><a href="#"><span>Sub Nav Item</span></a></li>
                <li class="list_column"><a href="#"><span>Sub Nav Item</span></a></li>
              </ul>
            </li>
            <li class="list_column"><a href="#"><span>Nav Item</span></a></li>
            <li class="list_column"><a href="#"><span>Nav Item</span></a></li>
            <li class="list_column"><a href="/home/help"><span>Help</span></a></li>
          </ul>
        </div><!-- end block_module -->

      </div><!-- end left_content -->

      <div id="center_content">

        <div id="content_header">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div><!-- end content_header -->

        <div id="content_body"><%= yield %></div>

        <div id="content_footer">content footer
        </div><!-- end content_footer -->
  
     </div><!-- end center_content -->
      
    </div><!-- end middle -->
    
    <div id="footer">
    	<div id="footer_content">
        <div id="footer_status">
          <p class="notice"><%= notice %></span>
          <p class="alert"><%= alert %></span>
        </div>
      </div>
    </div><!-- end footer -->
    
  </div><!-- end page -->
</body>
</html>
